DATABASE_URL="postgresql://user:password@localhost:5432/mar_e_moveis_shop"
NEXTAUTH_SECRET="gera-uma-string-aleatoria-aqui"
NEXTAUTH_URL="http://localhost:3004"

STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""

RESEND_API_KEY=""
EMAIL_FROM="Mar e Móveis <onboarding@resend.dev>"
